* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-size: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-image: url(/imge/fornmulas-matematicas.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



