* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  font-size: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-image: url(/imge/fornmulas-matematicas.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.calculadora {
  width: 300px;
  background-color: none;
}

.pantalla{
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.botones{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
